<h2>Create New Landmark Page</h2>

<!-- add content here -->
<form method="post" action="/landmark/show">
<label> name </label>
<input type="text" name="name"/><br>
<label> figure_id </label>
<input type="text" name="figure_id"/><br>
<label> year_established </label>
<input type="text" name="year_completed"/><br>
<input type="submit"/>
</form>
<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
