<table>
  <tr>
    <th>Here are the Landmarks!</th>
    <th>Where is yours completed?</th>
  </tr>
<table>


<h1> <%= @newLandmark.name %> </h1>


<h1> <% @landmarks.each do |landmark|  %> </h1>
  <%= landmark.name %><br>

<% end %>