<h2>Create New Figure Page</h2>

<!-- add content here -->
<form method="post" action="/landmark/show">
<label> name </label>
<input type="text" name="name"/><br>
<input type="submit"/>
</form>
<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
